

{% block signup %}
    <form action="index.html" method="post">
        {% csrf_token %}
        <div class='form-group'>
            <label for="inputFirstName">First name</label>
            <input type="name" class="form-control" id="inputFirstName" placeholder="Enter First name">
        </div>
        <div class='form-group'>
            <label for="inputLastName">Last name</label>
            <input type="name" class="form-control" id="inputLastName" placeholder="Enter Last name">
        </div>
        <div class='form-group'>
            <label for="inputEmail">E-mail</label>
            <input type="name" class="form-control" id="inputEmail" placeholder="Enter Email">
        </div>
        <span class='footnote-text'><em>By signing up and hitting submit you agree to be contacted from the Kiehl-Pitts Campaign regarding
        <strong>campaign information, campaign updates, elections updates, important university and campaign news, and elections reminders. You can unsubscribe at any time.</strong></em><br></span>
        <button class='btn-lg btn-success' id='signup'type="submit" value="Submit">Sign Up</button>
    </form>
{% endblock signup %}
