@font-face {
    font-family: cooperHewittMedium;
    src: url('../fonts/CooperHewitt-Medium.otf');
}
@font-face {
    font-family: cooperHewittLight;
    src: url('../fonts/CooperHewitt-Light.otf');
}
@font-face{
    font-family: cooperHewittSemibold;
    src: url('../fonts/CooperHewitt-Semibold.otf');
}
@font-face{
    font-family: cooperHewittBook;
    src: url('../fonts/CooperHewitt-Book.otf');
}
@font-face{
    font-family: cooperHewittBold;
    src: url('../fonts/CooperHewitt-Bold.otf');
}
#header{
    font-family: cooperHewittMedium;
    font-size: 60px
}
#intro{
    color: white;
    text-shadow: 1px 1px 1px black;
}
/* @media(min-width: 600px){
    #intro{
    background-image: url("../img/index-main.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
}
@media(max-width:599px){
    #intro{
    background-image: url("../img/index-main-sm.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    }
} */

div{
    font-family: cooperHewittMedium;
}
p{
    font-family: cooperHewittLight;
    height: auto;
}
.navbar{
    font-family: cooperHewittMedium;
}
#signup{
    color: black;
    background-blend-mode: overlay;
    text-shadow: 0px 0px 0px;
}
.navbar li:hover{
    background-color: lighten(rgb(106, 149, 94));
}
#platforms{
        margin-top: 100px;
        margin-bottom: 100px;
}
#platforms h1{
    font-family: cooperHewittSemibold;
    text-shadow: -2px 2px 2px gray;
}

.footnote-text{
    font-size: 8px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 0px;
  width: auto;
}
.navbar .navbar-collapse{
    margin: 0px;
}
.navbar {
    margin: 0px;
}
label{
    font-family: cooperHewittBold;
}
#footer{
    background-color: #244c1a;
    padding: 40px;
}
#content-text{
    font-family: cooperHewittLight;
    font-size: 18px;
    overflow: hidden;
}
#text-group{
    padding-top: 50px;
}
#platform-row{
    margin-top: 50px;
}
#platform-row:last-child{


}
#platform-row:first-child{
    margin-top: 0px;

}
